@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-1">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">All orders</h5>
                <p class="card-text">Check orders information.</p>
                <a asp-action="AllOrders" class="btn btn-primary">All orders</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">All users</h5>
                <p class="card-text">Check users information.</p>
                <a asp-action="AllUsers" class="btn btn-primary">All users</a>
            </div>
        </div>
    </div>
</div>