@model ActorFormModel
@{
    ViewData["Title"] = "Add Actor";
}

<h2 class="title-center">@ViewData["Title"]</h2>
<hr />

<partial name="_ActorFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}