@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "All Users"; 
} 

<h2 class="text-center">@ViewBag.Title</h2> 
<hr /> 

<div class="table-responsive">
    <table class="table table-striped"> 
        <thead class="table-dark"> 
            <tr> 
                <th>Email</th>
                <th>Full Name</th>
            </tr> 
            </thead> 
            <tbody> 
                @foreach (var user in Model) 
                { 
                    <tr>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    </tr> 
                }
        </tbody> 
    </table>
</div>
<div class="text-center">
    <a class="btn btn-primary btn-lg mt-5" asp-area="Admin" asp-controller="Home" asp-action="DashBoard" title="Dashboard">Back To Dashboard</a>
</div>