@model OrderFormModel
@{
    ViewData["Title"] = "Checkout";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_OrderFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(document).ready(function () {
                CartModule.updateCartCount();
            });
        </script>
    }
}