@{
    ViewData["Title"] = "Error";
} 

<div class="row"> 
    <div class="col-3"></div> 
    <div class="col-6"> 
        <br> 
        <div class="row">
            <div class="col-10">
                <img src="https://media.istockphoto.com/photos/rubber-stamp-picture-id545992942?k=6&m=545992942&s=612x612&w=0&h=XD1kddQeDrbG9DEQQxGNf6_3snw4gdFZv8GqSFta6Is=" alt="Alternative image" class="img-thumbnail"> 
                <div class="text-left h4"> 
                    <p>You are not authorized to access this page.</p>
                    <p>Please <a href="@Url.Action("Login", "Account")">Log in</a> to continue.</p>
                </div> 
                <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div> 
        </div>
    </div> 
<div class="col-3"></div> </div>