@model MovieFormModel
@{
    ViewData["Title"] = "Add Movie";
}

<h2 class="title-center">@ViewData["Title"]</h2>
<hr />

<partial name="_MovieFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}