@model MovieFormModel
@{
    ViewData["Title"] = "Edit Movie";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_MovieFormPartial" model="@Model" />

@section Scripts {
    <Partial name="_ValidationScriptsPartial" />
}