html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #0d6efd;
    color: #fff !important;
    border-radius: 0.3rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

.navbar-toggler {
    border: none;
}

footer {
    padding-top: 65px;
    padding-bottom: 30px;
}

footer .contact-us > p.email {
    color: #d6d6d6;
}

footer .contact-us > p.phone {
    color: #d6d6d6;
}

footer .useful-links a {
    color: #d6d6d6;
    text-decoration: none;
}

footer .useful-links a:hover {
    color: grey;
    text-decoration: underline;
}

footer .socials > a > i {
    color: #d6d6d6;
}

footer .socials > a > i:hover {
    color: white;
}